[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
flask = "*"
flask-sqlalchemy = "*"
python-decouple = "*"
python-dotenv = "*"
gunicorn = "*"
spacy = "*"

[requires]
python_version = "3.7"
